.OfferList {
  overflow: visible;
  width: 100%;

  &__carousel {
    overflow: visible;
  }

  &__slide {
    height: auto;
    width: min(vw(74), #{rem(260)});

    @include respond-to($desktop) {
      width: rem(244);
    }
  }
}